# Documentacion tecnica local
/docs/
/docs/GUIA_TECNICA.md
/db/.deprecated/
/scripts/reiniciar-bd.ps1
/modelo-reservas.drawio
/01-Lab Parte 1 - IIS.pdf
/02-Lab Parte 2 - IIS.pdf
/03-Lab Parte 3 - IIS.pdf
/04-Lab Parte 4 - IIS.pdf
